.botao-voltar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--b0);
  background: var(--gradient1);
  text-decoration: none;
  font-size: 14px;
  border-radius: 8px;
  padding: 8px 6px;
  padding-right: 16px;
  line-height: 1;
  transition: 0.1s ease-in;
}

.botao-voltar:hover {
  scale: 1.05;
}

.icon-voltar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.icon-voltar img {
  width: 100%;
  height: 100%;
  display: block;
}
